<div id = "bg">
<div class ="w-75 mx-auto height">
    <h1 class="display-4 head">Profile</h1>
    <hr>
    <div id="block">
        <h3>IT IS NICE TO BE <span>InTime</span>, {{this.getUserName()}}</h3>
        <hr>
        <button type="button" class="btn btn-info" [routerLink]="['/main']" >Back</button>
        <button type="button" class="btn btn-info" (click)="this.displayTab()">Change Password</button>
        <button type="button" class="btn btn-secondary" (click)="this.logOut()">Logout</button>
    </div>
        <app-edit-profile *ngIf="this.tab"></app-edit-profile>
    </div>
</div>
